<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	  <!-- Custom styles for this template -->
	  <link href="/css/notebook.min.css" rel="stylesheet">
	  <link href="/css/main.min.css" rel="stylesheet">
	  <link href="/css/syntax.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/input_exapand_collapse.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Loading mathjax macro -->
	  <!-- Load mathjax -->
	  <script type="text/javascript" async
		        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
	  </script>
    <!-- MathJax configuration -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
          tex2jax: {
              inlineMath: [ ['$','$'], ["\\(","\\)"] ],
              displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
              processEscapes: true,
              processEnvironments: true
          },
          // Center justify equations in code and markdown cells. Elsewhere
          // we use CSS to left justify single line equations in code cells.
          displayAlign: 'center',
          "HTML-CSS": {
              styles: {'.MathJax_Display': {"margin": 0}},
              linebreaks: { automatic: true }
          }
      });
    </script>
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}
              <br>
              If you feel the posts are useful, please
              subscribe my <a href="https://www.youtube.com/channel/UCB2KAtvI71ZS0FlrXUU74Fw">Youtube</a>
              or <a href="https://xipengwang.medium.com">Medium</a>.
            </p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Highlight</a>
            <a href="{{ site.baseurl }}/blog">Blog</a>
            <a href="{{ site.baseurl }}/old_posts">Legacy</a>
            <a href="{{ site.baseurl }}/book">Book</a>
            <a href="{{ site.baseurl }}/about">About</a>
            <a href="{{ site.baseurl }}/wordle">WordleSpoiler</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>
    {% include analytics.html %}
  </body>
</html>
